.profile {
    grid-area: profile;
    display: grid;
    grid-template-rows: 100px 200px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top-img "
    "profile-info"
    "wall";
}
