.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "list chat";
}

/* List of chats */
.list {
    grid-area: list;
    border-right: 1px dotted darkcyan;
}

/* Current chat */
.current {
    grid-area: chat;
    min-height: 400px;
}