.app-wrapper {
  margin: auto 200px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 80px 1fr 40px;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
    "header header"
    "nav    main"
    "footer footer";
}
.app-wrapper > nav, header, footer {
  background-color: lightcyan;
}
.app-wrapper-main {
  grid-area: main;
  border: 1px dotted darkcyan; 
}